@charset "UTF-8";
/*reset*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  height: 100%;
  font-family: "Microsoft Yahei", arial, "Hiragino Sans GB", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #656D78;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
a, a:visited {
  text-decoration: none;
  color: #ffffff;
}
ul, li, li ul {
  list-style: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2,
h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, p, blockquote, th, td {
  margin:0;
  padding:0;
}

/* common */
.hides {
  display: none;
}
.abs-bottom {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.mt6 {
  margin-top: 6px;
}

/* system */
#system{
  background: url("bg.jpg") center no-repeat;
}
.content {
  width: 98%;
  height: 98%;
  background: #ffffff;
  margin: auto;
  position: absolute;
  top: 0;bottom: 0;left: 0;right: 0;
}
.sys-header {
  width: 100%;
  padding: 10px 40px;
  background: #0F4B7A;
  color: #ffffff;
}
.sys-body {
  width: 100%;
  height: 87.3%;
  background: #f5f5f5;
  overflow: hidden;
}
.sys-footer {
  width: 100%;
  padding: 2px 0;
  background: #0F4B7A;
  text-align: center;
  color: #ffffff;
}

/*header*/
.sys-header h1{
  display: inline-block;
  text-indent: .3em;
}
.header-right-ul {
  float: right;
}
.header-right-ul li {
  float: left;
  padding: 0 20px;
}

/*left-bar*/
.sys-left-bar1 {
  position: relative;
  float: left;
  width: 3%;
  height: 100%;
  min-width: 55px;
  background: #076683;
}
.sys-left-bar2 {
  float: left;
  width: 17%;
  height: 100%;
  background: #cccccc;
  white-space: nowrap;
  min-width: 260px;
}
.sys-main-info {
  float: left;
  width: 80%;
  height: 100%;
}
.left-bar1-ul {
  margin-top: 80px;
  text-align: center;
}
.left-bar1-ul li {
  padding: 20px 0;
}

/* bar2 */
.bar2 {
  width: 100%;
  height: 100%;
  background: #ddd;
}
.bar1-active {
  background: #ccc;
  color: #000000;
}
.nav-title {
  padding: 30px 15px 10px 15px;
  border-bottom: 1px solid #cccccc;
}
